[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
django-bootstrap4 = "*"
python-decouple = "*"
whitenoise = "*"
gunicorn = "*"
psycopg2 = "*"
django-heroku = "*"
heroku = "*"

[dev-packages]

[requires]
python_version = "3.8"
